@fn-color: #E5E5E5;

.img(@w: 100%, @h: 100%){
    img{
        width: @w;
        height: @h;
    }
}
.before(){
    &:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -1px;
		bottom: auto;
		height: 1px;
		border-top: 1px solid @fn-color;
		transform: scaleY(1);
	}
}
.after(){
    &:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: auto;
		bottom: 0;
		height: 1px;
		transform: scaleY(1);
		border-bottom: 1px solid @fn-color;
	}
}
.l-before(){
    &:before {
		content: "";
		position: absolute;
		left: 0;
		right: auto;
		top: 0;
		bottom: 0;
		width: 1px;
		transform: scaleX(1);
		border-left: 1px solid @fn-color;
	}
}
.r-after(){
    &:after {
		content: "";
		position: absolute;
		left: auto;
		right: 0;
		top: 0;
		bottom: 0;
		width: 1px;
		transform: scaleX(1);
		border-right: 1px solid @fn-color;
	}
}