@keyframes active{
    0%{
        transform: translate3d(0, 100%, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.select,
.mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    touch-action: none;
}
.mask{
    background-color: rgba(0, 0, 0, .4);
    animation: opacity .25s both;
}
.maskContent{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9;
}
.box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 240px;
    background-color: #fff;
    z-index: 10;
    transform: 100%;
    animation: active .25s both;
    display: flex;
    flex-direction: column;
}
.boxList{
    display: flex;
    width: 100%;
    flex: 1;
}
.list{
    flex: 1;
    display: flex;
    position: relative;
    background-color: #ddd;
}
.listItems{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    transform-style: preserve-3d;
    z-index: 1;
}
.listItem{
    padding: 5px;
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transition: all .1s;
}
.active{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    &::before{
        border-top: 1px solid rgba(0,0,0,.1);
    }
    &::after{
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}
.head{
    display: flex;
    height: 40px;
    padding: 5px 10px;
    background-color: #eee;
}
.headBtn{
    height: 28px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 2px;
    background-color: #fff;
    &::after{
        border-radius: 2px;
    }
}
.headBtnactive{
    background-color: #f53;
    color: #fff;
}
.headTitle{
    flex: 1;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.defaultValue{
    color: #999;
}